<!DOCTYPE html>
<html>
  <head>
    <title>AllHills</title>
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'mountain-icon.svg' %>

    <script type="text/javascript">
    window.logo = "<%= image_url('allhills_logo.png') %>";
    window.mountain = "<%= image_url('mountain-icon.svg') %>";
    window.app_store = "<%= image_url('app_store.png') %>";
    window.google_store = "<%= image_url('google_store.png') %>";
    window.logotitle = "<%= image_url('logotitle1.png') %>";
    window.splash1 = "<%= image_url('splash-image.png') %>";
    window.splash2 = "<%= image_url('splash-image2.png') %>";
    window.splash3 = "<%= image_url('splash-image3.png') %>";
    window.splash4 = "<%= image_url('splash-image4.png') %>";
    window.splash5 = "<%= image_url('splash5.png') %>";
    window.splash6 = "<%= image_url('splash6.png') %>";
    window.splash7 = "<%= image_url('splash7.png') %>";
    window.search = "<%= image_url('search_icon.png') %>";
    window.trail1 = "<%= image_url('t1.png') %>";
    window.trail2 = "<%= image_url('t2.png') %>";
    window.trail3 = "<%= image_url('t3.png') %>";
    window.trail4 = "<%= image_url('t4.png') %>";
    window.trail5 = "<%= image_url('t5.png') %>";
    window.trail6 = "<%= image_url('t6.png') %>";
    window.trail7 = "<%= image_url('t7.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
