<!DOCTYPE html>
<html>
  <head>
    <title>AllHills</title>
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPS_API_KEY']}" %>
    <%= favicon_link_tag 'mountain-icon.svg' %>

    <script type="text/javascript">
    window.logo = "<%= image_url('allhills_logo.png') %>";
    window.mountain = "<%= image_url('mountain-icon.svg') %>";
    window.app_store = "<%= image_url('app_store.png') %>";
    window.google_store = "<%= image_url('google_store.png') %>";
    window.logotitle = "<%= image_url('logotitle1.png') %>";
    window.splash1 = "<%= image_url('splash-image.png') %>";
    window.splash2 = "<%= image_url('splash-image2.png') %>";
    window.splash3 = "<%= image_url('splash-image3.png') %>";
    window.splash4 = "<%= image_url('splash-image4.png') %>";
    window.splash5 = "<%= image_url('splash5.png') %>";
    window.splash6 = "<%= image_url('splash6.png') %>";
    window.splash7 = "<%= image_url('splash7.png') %>";
    window.search = "<%= image_url('search_icon.png') %>";
    window.trail1 = "<%= image_url('t1.png') %>";
    window.trail2 = "<%= image_url('t2.png') %>";
    window.trail3 = "<%= image_url('t3.png') %>";
    window.trail4 = "<%= image_url('t4.png') %>";
    window.trail5 = "<%= image_url('t5.png') %>";
    window.trail6 = "<%= image_url('t6.png') %>";
    window.trail7 = "<%= image_url('t7.png') %>";
    window.trail8 = "<%= image_url('t8.png') %>";
    window.trail9 = "<%= image_url('t9.png') %>";
    window.trail10 = "<%= image_url('t10.png') %>";
    window.trail11 = "<%= image_url('t11.png') %>";
    window.trail12 = "<%= image_url('t12.png') %>";
    window.trail13 = "<%= image_url('t13.png') %>";
    window.trail14 = "<%= image_url('t14.png') %>";
    window.trail15 = "<%= image_url('t15.png') %>";
    window.trail16 = "<%= image_url('t16.png') %>";
    window.trail17 = "<%= image_url('t17.png') %>";
    window.trail18 = "<%= image_url('t18.png') %>";
    window.trail19 = "<%= image_url('t19.png') %>";
    window.trail20 = "<%= image_url('t20.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
